.chapter(data-title='Two Factor Authentication with Rails and Twilio')
  .step(
    data-title='Introduction: Security',
    data-file='app/controllers/users_controller.rb')
    :markdown
     ## Security

     Security is a main concern for an application these days. On this tutorial we'll show how to use Twilio API to build a “[Two Factor Authentication](https://en.wikipedia.org/wiki/Two-factor_authentication)” System.

  .step(
    data-title='What does this thing do?',
    data-file='app/controllers/users_controller.rb')
    :markdown
     ## What does this thing do?

     This Ruby on Rails application demonstrates how to use Twilio API to implement a Two-factor authentication process. This process should improve user identity validation accuracy by ensuring user's ownership of a device along with a password.

  .step(
    data-title='Create a new user',
    data-file='app/models/user.rb')
    :markdown
      ## Create a new user

      The first thing we’ll need to do is create the user that will be authenticated within the system. To model that we create a `User` model. It will keep information such as:

      * password
      * email that will be used as identifier
      * phone number that will be used to validate its authenticity
      * boolean to check if phone number was already verified

  .step(
    data-title='Configuring Twilio Client',
    data-file='lib/message_sender.rb')
    :markdown
      ## Configuring Twilio Client

      To send the confirmation SMS we need to create a Twilio REST API client that can be used to send SMS and MMS messages. The client requires your Twilio account credentials (an account SID and auth token), which can be found in the account portal.

      Next all we need to do is call `messages.create` on the client object in order to send our message. The Twilio Message API call requires a 'From' and 'To' parameter, and either a 'Body' or a 'MediaUrl' attribute (or both).

      These nine lines of code are all you need to send an SMS in Rails.

      **See Also:**
        * [Twilio SMS and MMS Quickstart](//www.twilio.com/docs/quickstart/ruby/sms/sending-via-rest)
        * [Using the "lib" directory in Rails](//dockyard.com/blog/ruby/2012/02/14/love-your-lib-directory)

  .step(
    data-title='Sending Verification Code',
    data-file='app/controllers/users_controller.rb'
    data-highlight='15-24')
    :markdown
      ## Sending Verification Code

      The controller will send a 6-digit random code to the user's phone.  He will need to use it to confirm that the provided phone number is correct. Since at this point, we don’t have that confirmation yet, we create the user but we don’t perform its authentication at that moment. We just redirect him to the page where he’ll be able to input the validation code.

  .step(
    data-title='Confirm phone number',
    data-file='app/controllers/confirmations_controller.rb'
    data-highlight='6-18')
    :markdown
      ## Confirm phone number

      After the user has input the validation code, the system will check if the verification code provided by the user matches the one 
      that we have persisted. In the cases where it matches, we'll confirm the phone number using `user#confirm!`. After that we set the 
      user’s authenticated session attribute to `true` and redirect him to the secret content.

  .step(
    data-title='Sign in with your new user',
    data-file='app/controllers/sessions_controller.rb'
    data-highlight='5-17')
    :markdown
      ## Sign in with your new user

      On the _sign in_ page we call `@user.authenticate(params[:password])` to ask bcrypt to hash and validate the provided password against 
      the persisted one. Since we haven’t finish the authentication process yet, we set `session[:authenticated] = false` to flag that
      this user is not authenticated yet.
      Last step is to send a confirmation code over SMS and redirect to code confirmation page.

      ** See Also: **
      * [Bcript Ruby](https://github.com/codahale/bcrypt-ruby)

  .step(
    data-title='Verify phone ownership',
    data-file='app/controllers/confirmations_controller.rb'
    data-highlight='6-18')
    :markdown
      ## Verify phone ownership

      After sending the code, we need to make sure that user received it correctly and has his phone. We then ask him to input the code 
      and validate against the given one, which is a copy of what we have just sent.

  .step(
    data-title='Ensuring that content requires authentication',
    data-file='app/controllers/application_controller.rb'
    data-highlight='6-12')
    :markdown
      ## Ensuring that content requires authentication

      In order to ensure that a user provided both factors (password and verification code) we check the session for `:user_id` and 
      `:authenticated` attributes. These session attributes are set during the password matchind and the SMS authentication processes.

      We added a `before_action` on the controller responsible for rendering authenticated content and that will guarantee that user is authorized for every request.

  .step
    :markdown
      ## Where to next?

      That's it! We've just implemented an SMS Two Factor Authenticated application. If you're a
      Rails developer working with Twilio, you might want to check out these other tutorials.

      [**Workflow Automation**](//www.twilio.com/docs/tutorials/walkthrough/workflow-automation/ruby/rails)

      Increase your rate of response by automating the workflows that are key
      to your business. In this tutorial, learn how to build a ready-for-scale
      automated SMS workflow, for a vacation rental company.

      [**Masked Numbers**](//www.twilio.com/docs/tutorials/walkthrough/masked-numbers/ruby/rails)

      Protect your users' privacy by anonymously connecting them with Twilio
      Voice and SMS. Learn how to create disposable phone numbers on-demand,
      so two users can communicate without exchanging personal information.

      ### Did this help?

      Thanks for checking out this tutorial! If you have any feedback
      to share with us, we'd love to hear it. Tweet
      [@twilio](//twitter.com/twilio) to let us know what you
      think.


