%h1= @user.phone_number

%p We have sent you a SMS with a code to the number above.

%p To complete your phone number verification, please enter the 6-digits activation code.

= form_tag("confirm", method: "post")  do
  = label_tag :confirmation, "Confirmation"
  = text_field_tag :verification_code
  = hidden_field_tag :user_id, @user.id
  = submit_tag "Confirm"
