%h1 We're going to be best friends

%p Thanks for your interest in signing up! Can you tell us a bit about yourself?

= form_for @user, html: { class: "form-horizontal" } do |f|
  .form-group
    = f.label :first_name, "First name", class: "col-md-2 control-label"
    .col-sm-10
      = f.text_field :first_name, class: "form-control"
  .form-group
    = f.label :last_name, "Last name", class: "col-md-2 control-label"
    .col-sm-10
      = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :email, "Email", class: "col-md-2 control-label"
    .col-sm-10
      = f.text_field :email, class: "form-control"
  .form-group
    = f.label :phone_number, "Phone number", class: "col-md-2 control-label"
    .col-sm-10
      = f.text_field :phone_number, class: "form-control"
  .form-group
    = f.label :password, "Password", class: "col-md-2 control-label"
    .col-sm-10
      = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation, "Confirm password", class: "col-md-2 control-label"
    .col-sm-10
      = f.password_field :password_confirmation, class: "form-control"

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Save", class: "btn btn-success"
